{% extends 'templates/base.twig' %}
{% block title %}User registration {% endblock %}
{%  block header %}<!-- Masthead-->
        <!-- Navigation-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                {# <i class="fa-solid fa-user-secret fa-2xl"></i> #}
                <!-- Masthead Heading-->
                <div class="divider-custom divider-light">
                    {# <div class="divider-custom-line"></div> #}
                    <div class="divider-custom-icon"><i class="fa-solid fa-id-card fa-2xl"></i></div>
                    {# <div class="divider-custom-line"></div> #}
                </div>
                <h1 class="masthead-heading text-uppercase mb-0">S'inscrire</h1>
                <!-- Icon Divider-->
                <!-- Masthead Subheading-->
                {# <p class="masthead-subheading font-weight-light mb-0">Développeur web - PHP / Symfony - Wordpress</p> #}
            </div>
        </header>
        {% endblock %}
{% block content %}
<div class="container">
<aside class="mx-auto p-5 text-center font-weight-light" style="width: 565px;">Remplir le formulaire ci dessous pour créer un compte utilisateurs</aside>
 <form id="contactForm" method="post" action="process">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="f_name" type="text" placeholder="Enter your name..." name ="f_name" required/>
                        <label for="f_name">Prénom</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="l_name" type="text" placeholder="Enter your name..." name ="l_name" required/>
                        <label for="l_name">Nom</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="pseudo" type="text" placeholder="Enter your pseudo" name ="l_name" required/>
                        <label for="l_name">@Pseudo</label>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com" name ="email"required>
                        <label for="email">Email</label>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="password" type="password" placeholder="Mot de passe" name = "password" required></input>
                        <label for="message">Mot de passe</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="password" type="password"  placeholder="Confirmer le mot de passe" name = "confirm_password" required></input>
                        <label for="message">Confirmation du mot de passe</label>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <a class="btn btn-primary btn-xl mb-5" href="/" id="submitButton" type="submit">S'inscrire</a>
                </form>
</div>
{% endblock %}