{%  block header %}<!-- Masthead-->
    <header class="masthead text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Blog</h1>
            <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fa-regular fa-bookmark"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0 mt-4">Développement web</p>
        </div>
    </header>
{% endblock %}