 {% block posts %}
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">Titre</h2>
                <h3 class=" text-center text-secondary mb-5">Chapô</h3>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4 mb-5">
                            <img class="img-fluid" src="http://blog.test/assets/img/portfolio/cabin.png" alt="..." />
                    </div>
                    <section class="page-section">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum facere, non aliquid beatae voluptas nesciunt eaque repellat, reiciendis enim ea adipisci, dolorum cupiditate quaerat error. Laudantium ut sint iste non quam repellat facilis qui perspiciatis nisi, esse in sapiente deleniti provident doloremque temporibus ad molestias quo facere aperiam neque at corrupti enim. Sequi ut fuga, nobis labore deleniti minus minima incidunt ab esse, tempora est. Minus, temporibus similique? Obcaecati praesentium iure esse a quasi, nisi adipisci recusandae, rem delectus ex qui repellendus corrupti sed laudantium sunt natus dolore aliquid deleniti. Libero facilis qui fugit quibusdam beatae obcaecati et magni ducimus, magnam itaque culpa dolores iure asperiores vitae delectus. Quis voluptates deleniti amet neque debitis, voluptatem natus magnam adipisci ea quidem ipsa! Maiores iusto aliquam provident deserunt, distinctio recusandae harum veniam dolores minus, laborum, ex nulla libero. Provident aperiam illum qui dicta dolorum consectetur eligendi velit esse itaque tenetur ipsa neque, quod, atque magnam iste vero nam quae, cumque id voluptates. Assumenda culpa voluptatem tenetur non aut accusantium nobis ex corporis officiis nostrum, iste natus ullam porro maiores optio deleniti cum eos vitae sapiente magni quos quae vero incidunt eveniet. Eius alias accusantium, assumenda labore quo temporibus fuga commodi maiores iure!</p>
                    </section>
                     {# <div class="col-md-6 col-lg-6 mb-5">
                        <div class="border m-1">
                                <p class="text-center font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fugiat iste labore ab sit mollitia! Et sunt labore sequi hic doloribus, cum dolorem in eveniet! </p>
                                <div class="container mx-auto">
                                    <button class="btn btn-light btn-sm">
                                                Modifier
                                    </button>
                                    <button class="btn btn-danger btn-sm">
                                                Supprimer
                                    </button>
                                </div>
                        </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fugiat iste labore ab sit mollitia! Et sunt labore sequi hic doloribus, cum dolorem in eveniet!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fugiat iste labore ab sit mollitia! Et sunt labore sequi hic doloribus, cum dolorem in eveniet!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fugiat iste labore ab sit mollitia! Et sunt labore sequi hic doloribus, cum dolorem in eveniet!</p>
                    </div> #}
                    {# <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@user</h5>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita, magni.um dolor sit amet consectetur a</p>
                            <a href="#" class="btn btn-light btn-sm">Modifier</a>
                            <a href="#" class="btn btn-danger btn-sm">Supprimer</a>
                        </div>
                    </div> #}
                    <form class="container mb-5">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Saisissez votre commentaire</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                         <button type="submit" class="btn btn-secondary btn-sm m-1">Envoyer</button>
                         </div>
                    </form>
                    <div class="container">
                        <div class="card text-center">
                            <div class="card-header">
                                @user
                            </div>
                            <div class="card-body">
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-link btn-sm comment_link">Modifier</a>
                                <a href="#" class="btn btn-danger btn-sm">Supprimer</a>
                            </div>
                            <div class="card-footer text-muted">
                                date
                            </div>
                        </div>
                        
                        <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fa-solid fa-terminal"></i></div>
                            <div class="divider-custom-line"></div>
                        </div>
                        <div class="card text-center">
                            <div class="card-header">
                                @user
                            </div>
                            <div class="card-body">
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-link btn-sm comment_link">Modifier</a>
                                <a href="#" class="btn btn-danger btn-sm">Supprimer</a>
                            </div>
                            <div class="card-footer text-muted">
                                date
                            </div>
                        </div>
                        <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fa-solid fa-terminal"></i></div>
                            <div class="divider-custom-line"></div>
                        </div>
                        <div class="card text-center">
                            <div class="card-header">
                                @user
                            </div>
                            <div class="card-body">
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-link btn-sm comment_link">Modifier</a>
                                <a href="#" class="btn btn-danger btn-sm">Supprimer</a>
                            </div>
                            <div class="card-footer text-muted">
                                date
                            </div>
                        </div>
                        <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fa-solid fa-terminal"></i></div>
                            <div class="divider-custom-line"></div>
                        </div>
                        <div class="card text-center">
                            <div class="card-header">
                                @user
                            </div>
                            <div class="card-body">
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-link btn-sm comment_link">Modifier</a>
                                <a href="#" class="btn btn-danger btn-sm">Supprimer</a>
                            </div>
                            <div class="card-footer text-muted">
                                date
                            </div>
                        </div>
                        <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fa-solid fa-terminal"></i></div>
                            <div class="divider-custom-line"></div>
                        </div>
                    </div>

        </section>
        {% endblock %}